@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  font-family: "Dosis", sans-serif;
  background-image: linear-gradient(
    to right top,
    #dbfc79,
    #ffe88c,
    #feb882,
    #fa8257,
    #ff5425
  );
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

#score {
  font-size: 2rem;
}
.circles {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  justify-content: space-between;
}

@media (max-width: 743px) {
  .circles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.circle {
  height: 150px;
  width: 150px;
  background-color: rgba(187, 187, 187, 0.746);
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 1px #000000cd;
  font-size: 30px;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px #00000085;
}

button:hover {
  transform: scale(1.05);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 2rem;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

#result {
  font-size: 1.5rem;
}

.circle.active {
  /* background-color: #fff225; */
  background: url("1329309424.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(219, 63, 63, 0.845);
}

#stop {
  display: none;
}
